doctype
html
    head

        link(rel="stylesheet" href="./css/style.css")

    body
        div#no-data-message
        ul#card-list
        div.pager-container
          div.count
          ul.pagination

        script(type="text/javascript" src="./js/example.bundle.js")

